<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Изменение вариантов ответа опроса</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container py-4">

    <div style="margin: 80px">
        <h1 class="text-center">Редактирование вопросов</h1> <br>
            <table class="table table-bordered">
            <tbody>
                {% if ans_list %}

                    {% for i in ans_list %}
                        <tr>
                        <th>
                        <p>{{ i.question }}</p>
                            </th>

                            <th>
                        <p>{{ i.count }}</p>
                            </th>


                            <th>
                        <a class="btn btn-outline-danger" href="delete_ans/{{ i.id }}">Удалить</a>
                        </th>
                        </tr>
                    {% endfor %}
                {% else %}
                 Варианты ответа опроса не найдены
                {% endif %}
            </tbody>
        </table>

    </div>
    <form id="post_form" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-bordered">
            <tbody>
            {{form}}
            </tbody>
        </table>

        <button type="submit" class="btn btn-success float-left">Загрузить ответ</button>
    </form>


</div>
</body>
</html>
