{% extends 'base.html' %}

{% block content %}
    <div id="about-council">
            <div class="pt-3">
                <h2>О совете</h2>
                <hr>
            </div>
            <p>Совет молодых ученых Дальневосточного отделения Российской академии наук воссоздан <b>14 марта 2002 года</b>
            с целью объединения научной молодежи, выражения ее интересов, сохранения научного потенциала и преодоления
            негативных тенденций в возрастной структуре научных кадров.</p>
            <p><b>Контакты: </b> smu.dvo.ru@gmail.com</p>
            <p><b>Адреc: </b>690990, Россия, г. Владивосток, ул. Светланская, д. 50</p>
    </div>

{% endblock %}