{% extends 'base.html' %}

{% block content %}
<div id="scientists-list">
            <h2>Состав совета</h2>
            {% for user in users %} <!-- Выводятся поля с принадлежностью к ученым -->
                {% if user.scientist == True %}
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            {% if user.photo %}
                                <img width="250" height="250" class="img-fluid rounded float-left" src="{{user.photo.url }}" alt="Упс! Изображение было удалено с сервера.">
                            {% else %}
                                <img width="250" height="250" class="img-fluid rounded float-left" src="../../media/no_photo.png" alt="Упс! Изображение было удалено с сервера.">
                            {% endif %}
                        </div>
                        <div class="col-9 pr-4">
                            <h4 class="text-dark">
                                {{ user.user.last_name }}
                                {{ user.user.first_name }}
                            </h4>
                            <p class="text-justify">
                                {% if user.date_of_birth %}
                                    <b>Дата рождения: </b> {{ user.date_of_birth }} <br>
                                {% endif %}
                                <b>Место работы: </b>{{ user.organization }} <br>
                                <b>Занимаемая должность: </b>{{ user.position }} <br>
                                <b>О себе: </b>{{ user.bio }} <br>
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
</div>
{% endblock %}